/* =TABS
----------------------------------------------- */

.s2-tab-groups {
    margin: 2em auto;

    .s2-tab-nav {
        overflow: hidden;
        margin: 0;
        padding: 0;
        list-style: none;
    }
}

.s2-tab-nav li {
    float: left;
    margin: .4em .3em 0 0;
    padding: 0;
    list-style: none;
    &:last-child {
        margin-right: 0;
    }
    a {
        display: block;

        padding: .4em .8em;

        text-decoration: none;

        color: #a5a5a5;
        border: none;
        background-color: #f1f1f1;
    }
    &.active a {
        -webkit-transition: all .1s linear;
           -moz-transition: all .1s linear;
             -o-transition: all .1s linear;
                transition: all .1s linear;

        color: #fff;
        background-color: #adadad;
    }
    a:hover {
        -webkit-transition: all .1s linear;
           -moz-transition: all .1s linear;
             -o-transition: all .1s linear;
                transition: all .1s linear;

        color: #4d4d4d;
        background-color: #cfcfcf;
    }
}

.tab-content {
    padding: 1em;
    border: 1px solid #f1f1f1;

    &:after {
        display: table;
        clear: both;

        content: '';
    }
}

.edit-tabs {
    display: block;
    clear: both;
}
