/* =TABS
----------------------------------------------- */

.stg-wrap {
    margin: 2em auto;
}

.simple-tab-groups {
    display: none;
    visibility: hidden;
    overflow: hidden;

    margin: 0;
    padding: 0;

    list-style: none;
    li {
        float: left;

        margin: .4em .3em 0 0;
        padding: 0;

        list-style: none;
        &:last-child {
            margin-right: 0;
        }
    }
    button  {
		margin: .4em .3em 0 0;
		padding: .4em .8em;
    }

    &:last-child {
        margin-right: 0;
    }
    a {
        display: block;

        padding: .4em .8em;

        -webkit-transition: all .1s linear;
           -moz-transition: all .1s linear;
             -o-transition: all .1s linear;
                transition: all .1s linear;
        text-decoration: none;

        color: #a5a5a5;
        border: none;
        background-color: #f1f1f1;
        &.active {
            color: #fff;
            background-color: #adadad;
        }
        &:hover {
            color: #4d4d4d;
            background-color: #cfcfcf;
        }
    }
}

.simple-tab-groups,
.tab-content {
    &:before,
    &:after {
        display: table;

        content: '';
    }
    &:after {
        clear: both;
    }
}


.simple-tab-list a,
.simple-tab-buttons button {
    cursor: pointer;
}

.tab-content {
    padding: 1em;

    border: 1px solid #f1f1f1;
}

.edit-tabs {
    display: block;
    clear: both;
}

.js-tabby {
    .simple-tab-groups {
        display: block;
        visibility: visible;
    }
    .tab-content {
        display: none;
        visibility: hidden;
        &.active {
            display: block;
            visibility: visible;
        }
    }
}
