/* =TABS
----------------------------------------------- */

#s2-tab-groups
{
	margin:2em auto;
}

#s2-tab-groups .tab-nav
{
	list-style:none;
	margin:0;
	overflow:hidden;
	padding:0;
}

.tab-nav li
{
	float:left;
	margin:.4em .5em 0 0;
	padding:0;
	list-style:none;
}

.tab-nav li:last-child
{
	margin-right:0;
}

.tab-nav li a
{
	border-radius:4px 4px 0 0;
	color:#444;
	display:block;
	padding:.4em .8em;
	text-decoration:none;
	border: none;
}

.tab-nav li a.active
{
	background-color:#f1f1f1;
	color:#A5A5A5;

	transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-webkit-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
}

.tab-nav li a:hover 
{
	background-color:#e4e4e4;
	color:#6D6D6D;

	transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-webkit-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
}

.tab-content
{
	border:1px solid #ccc;
	padding:1em;
}

.tab-content:after
{
	display: table;
	content: "";
	clear: both;
}